<div class="modal-header">
  <h5 class="modal-title">Modal title</h5>
</div>
<div class="modal-body">
  <table class="table">
    <tr>
      <th>Name</th>
      <th>Action</th>
    </tr>
    <tr>
      <td>Chris</td>
      <td>
        <button (click)="edit()">Edit</button>
      </td>
    </tr>
  </table>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="saveModal()">Save changes</button>
  <button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
</div>
