<div class="modal-header">
  <h5 class="modal-title">Modal title</h5>
</div>
<div class="modal-body">
  <p>Modal body text goes here.</p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="saveModal()">Save changes</button>
  <button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
</div>
